
  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
  
 section {
    --video-width: 100vw;
    --video-height: 100vh;
    
    @media (min-aspect-ratio: 16/9) {
      --video-height: 56.25vw;
    }
  
    @media (max-aspect-ratio: 16/9) {
      --video-width: 177.78vh;
    }
  }
  
  .bg-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .bg-video__iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width);
    height: var(--video-height);
    transform: translate(-50%, -50%);
  }

 

 
  #team-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  #team-button:hover {
    transform: translateX(10px);
  }  

  .transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
  
 
 /* Navbar styles */

 .navbar {
    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #FFFA1D;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 100%;
    /* font-family: 'Robotowght', sans-serif;  */

    font-family: 'Robotowght', sans-serif; 
    font-weight: 500;  
    z-index: 99999;
}

.brand-title {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin: .5rem;
    align-items: center;
    text-align: center;
  }

.navbar-links {
    height: 100%;
    z-index: 99999;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFA1D;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: transparent
}

.toggle-button {
    position: absolute;
     /* top: .75rem; */
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 99999;
   
     padding-top: 1rem;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFFA1D;
    border-radius: 10px;
    z-index: 9999;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 99999;
    }

    .toggle-button {
        display: flex;
        z-index: 99999;
    }

    .navbar-links {
        display: none;
        width: 100%;
        z-index: 99999;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        z-index: 99999;
    }

    .navbar-links ul li {
        text-align: center;
        z-index: 99999;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        z-index: 99999;
    }

    .navbar-links.active {
        z-index: 99999;
        display: flex;
    }
}
 
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: transparent;
    font-size: 1.5em;
      
    color: #fff;
    margin: 20px; 
    margin-top: 150px;
     
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    /* max-width: 400px; */
  }
  
  .modal-close {
    float: right;
    font-weight: bold;
    cursor: pointer;
  }